.container {
  height: 100%;
  width: 100%;
  position: relative;
  padding: 0 50px;
}

.heading {
  width: 100%;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 1.5px;
  color: whitesmoke;
  padding-bottom: 10px;
}

.slideIndicators {
  display: flex;
  margin-bottom: 50px;
}

.slideIndicator {
  height: 3px;
  background-color: whitesmoke;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.activeIndicator {
  background-color: var(--accentColor);
}

.sliderContainer {
  width: 100%;
  overflow: hidden;
}

.slider {
  height: max-content;
  width: 100%;
  display: flex;
  align-items: start;
  transition: all 0.5s ease;
}

.slide {
  height: 100%;
  width: 100%;
  flex-shrink: 0;
  transition: all 0.6s ease;
}

.slide.nearby {
  opacity: 0.1;
  transform: scale(0.5);
}

.icons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 50%;
  left: 0;
  right: 0;
}

.icon {
  cursor: pointer;
  transition: all 0.2s ease;
}

.icon:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 768px) {
  .heading {
    font-size: 25px;
    font-weight: 600;
  }
}

@media screen and (max-width: 430px) {
  .container {
    padding: 0;
  }

  .slideIndicators {
    margin-bottom: 30px;
  }

  .icon {
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: var(--backgroundColor);
    padding: 3px;
  }
}
