.container {
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  background: linear-gradient(
    45deg,
    rgb(10, 110, 210),
    rgb(65, 15, 110),
    rgb(185, 108, 248)
  );
  height: 100%;
}

.links {
  position: absolute;
  top: -10px;
  background-color: var(--backgroundColor);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  padding: 5px 35px 5px 35px;
}

.link {
  cursor: pointer;
}

.link:hover {
  transform: scale(1.05);
  transition: all 0.2s ease;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 70px;
  padding-top: 50px;
}

.heading {
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 1.5px;
}

.subHeading {
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 2px;
  font-weight: 700;
}

.typewriter {
  color: var(--accentColor);
  font-weight: 700;
}

.afterTypewriter {
  color: var(--backgroundColor);
  font-weight: 700;
}

.toolsContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: -27px;
}

.tools {
  display: flex;
  gap: 30px;
}

.tool {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: 6px solid var(--backgroundColor);
  background-color: var(--backgroundColor);
}

.tool > img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .content {
    padding-bottom: 50px;
    text-align: center;
  }

  .heading {
    font-size: 25px;
    font-weight: 800;
  }

  .typewriter {
    color: var(--accentColor);
  }

  .afterTypewriter {
    color: var(--textColor);
  }

  .toolsContainer {
    bottom: -23px;
  }

  .tools {
    gap: 10px;
  }

  .tool:last-child {
    display: none;
  }

  .tool {
    width: 40px;
    height: 40px;
  }
}
