.app {
  padding-top: 15px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 160px;
  max-width: 1440px;
  margin: 0 auto;
}

.heading {
  letter-spacing: 2px;
  width: 100%;
  border-bottom: 1px solid whitesmoke;
  font-weight: 200;
  margin-bottom: 50px;
}

.projects {
  height: 70vh;
  margin-top: 60px;
}

@media screen and (max-width: 768px) {
  .heading {
    font-size: 18px;
    margin-bottom: 15px;
  }
  .projects {
    height: 60vh;
  }
}
